
{% extends "base.html" %}
{% load i18n %}
<html lang="en">






{% block js %}

<script>
{#$(".reply").hide();#}
function comfun(id) {
    $("#"+id).toggle();
}

</script>


{% endblock %}

{% block content %}

<form method="post" action="{% url 'post_comment' %}">
    {% csrf_token %}

      <input type="text" name="comment" />
        <input type="hidden" value="comment" name="type"/>
           <input type ="submit" value="post_comment " />
</form>

<hr/>

    <ul>
    {% for i in comments %}
        <li><h3>{{ i.comment }}</h3>




        <a class="abc" onclick="comfun({{ i.id }})">reply</a>


           <div class="reply" id="{{ i.id }}" style="display: none;">
                    <form method="POST" action="{% url 'post_comment' %}">
                         {% csrf_token %}
                         <input type="text" name="reply"  />
                           <input type="hidden" value="{{ i.id}}" name="comment"/>
                          <input type="hidden" value="reply" name="type"/>
                           <input type ="submit" value="add_reply " />


                    </form>




           </div>


        </li>
        <ul>
          {% for r in i.reply_set.all %}
              <li><h5>{{ r.reply }}</li></h5>

          {% endfor %}
        </ul>
    {% endfor %}
    </ul>

{% endblock %}


</html>



