
.dsf {

    color: green;
    margin-top:2%;
    text-align: center;






}

body {
    background-color: lightblue;

}
.reply{
   text-align:center;
   color:green;
   margin-right:5%;
   }

.try{
   padding-top:20px;

}
.swa{
    padding-bottom:10px;
       padding-top:15px;
    text-align:justify;



}


